@import '../../components/styles/theme/default.less';

.header {
  box-shadow: 0 2px 8px #f0f1f2;
  // position: fixed;
  // top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  &-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  &-logo {
    height: 50px;
    margin-right: 16px;
  }
  &-desc {
    font-size: 16px;
    padding: 20px 0;
    color: @primary-color;
  }
  &-right {
    display: flex;
    align-items: center;
  }
  &-picker {
    margin-right: 50px;
    &-btn {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #000;
      cursor: pointer;
      border: 2px solid #000;
    }
  }
}

.siderbar {
  height: calc(100vh - 104px);
  overflow-y: scroll;
  width: 200px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-right: 1px solid #e8e8e8;
  // position: fixed;
  // left: 0;
  background-color: #fff;
  &-box {
    margin-bottom: 20px;
  }
  &-title {
    margin: 10px 0;
    padding: 0 25px;
    // color: @primary-color;
  }
  a {
    color: #314659;
    display: block;
    padding: 8px 0;
    padding-left: 45px;
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
    transition: all .2s @ease-base-out;
    &:hover {
      color: @primary-color
    }
  }
  &-active {
    position: relative;
    color: @primary-color !important;
    // background-color: @primary-color;
    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 4px;
      background-color: @primary-color;
      top: 0;
      right: 0;
      transition: all .2s @ease-base-out;
    }
  }
}

.fixedNav {
  margin-top: 40px;
  padding: 8px 0;
  // position: fixed;
  // right: 0;
  // padding: 12px;
  background-color: #fff;
  width: 130px;
  font-size: 14px;
  text-overflow: ellipsis;
  border-left: 1px solid #e8e8e8;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 1px;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   background-color: #e8e8e8;
  // }
  a {
    display: block;
    padding-left: 10px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    border-left: 1px solid transparent;
    &:hover {
      color: @primary-color
    }
  }
  & &-active {
    color: @primary-color;
    border-left: 1px solid @primary-color;
    position: relative;
    left: -1px;
  }
}
