@import '../../styles/theme/default.less';
@import '../../styles/mixins/index.less';

@notice-prefix-cls: ~"@{primary-name}-notice";
@close-prefix-cls: ~"@{primary-name}-close";
@notification-prefix-cls: ~"@{primary-name}-information";

.@{notice-prefix-cls} {
  position: relative;
  // &:hover .@{close-prefix-cls} {
  //   opacity: 1;
  // }
}

.@{notification-prefix-cls} {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: @notice-basic-zIndex;
  
}

.@{close-prefix-cls} {
  transition: all .3s @ease-in-out;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  line-height: 0;
  cursor: pointer;
  &-x {
    font-size: 14px;
    color: @gray-1;
    transition: all .3s @ease-in-out;
    &:hover {
      color: @gray-2
    }
  }
}